@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    * {
        font-family: 'sf-pro-text_regular', "Helvetica Neue","Helvetica","Arial",sans-serif;
        box-sizing: border-box;
    }

    .container {
        @apply mx-auto px-4
    }

    .x-space {
        @apply px-4 md:px-20 lg:px-9
    }

    .nav-link {
        @apply font-semibold text-gray-primary hover:text-yellow-primary hover:bg-dark-primary px-4 md:flex items-center gap-4  
    }

    .footer-link {
        @apply text-white font-semibold hover:text-yellow-primary
    }

}


@font-face {
    font-family: druk-bold;
    src: url(../fonts/Druk-Bold-Web);
}